<div class="row">
  <div class="col">Share your link:</div>
</div>
<div class="row justify-content-md-start">
  <div class="col">
    <mat-form-field class="py-1" appearance="outline" style="width: 100%">
      <div class="row">
        <div class="col">
          <input matInput [readonly]="true" [value]="url" />
        </div>
      </div>
    </mat-form-field>
  </div>
  <div class="col col-lg-2 mt-2 mr-0 px-0">
    <button mat-stroked-button [cdkCopyToClipboard]="url" (click)="copied()">
      Copy
      <mat-icon aria-hidden="false">content_copy</mat-icon>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-1-12">
    <a [href]="url" target="_blank">
      <button mat-stroked-button>
        <mat-icon aria-hidden="false">arrow_right_alt</mat-icon>
      </button>
    </a>
  </div>
</div>
