<mat-card>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="standard" class="field-full-width">
        <mat-label>Link name</mat-label>
        <input
          matInput
          maxlength="55"
          class="mx-auto"
          [(ngModel)]="socialLink.name"
          name="name"
          placeholder="name"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="standard" class="field-full-width">
        <mat-label>URL Link</mat-label>
        <input
          matInput
          class="mx-auto"
          [(ngModel)]="socialLink.url"
          name="URL"
          placeholder="URL"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <div *ngIf="socialLink.name">
        <app-link-button [link]="socialLink"></app-link-button>
      </div>
    </div>
  </div>
</mat-card>
