<mat-card>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <mat-card-header>
          <img mat-card-avatar [src]="user.picture" />
          <mat-card-title>{{ user.nickname }}</mat-card-title>
          <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="my-0">
          <div *ngIf="loadingUser; else elseBlockLoading">
            <app-loading [message]="'Loading user data'"></app-loading>
          </div>

          <ng-template #elseBlockLoading>
            <div *ngIf="errorServer; else elseBlockServer">
              <app-error
                [message]="'Error loading user data'"
                (reload)="onReload($event)"
              ></app-error>
            </div>

            <ng-template #elseBlockServer>
              <div class="row justify-content-start">
                <div class="col">
                  <p>Add your username account to share your links</p>
                </div>
              </div>
              <div class="row justify-content-start">
                <div class="col-auto">
                  <mat-form-field
                    class="pb-2"
                    appearance="outline"
                    style="width: 100%; margin-bottom: -1.25em"
                  >
                    <mat-label>Account name</mat-label>
                    <input
                      matInput
                      type="text"
                      [formControl]="formAccountName"
                      [placeholder]="user.accountname"
                    />
                  </mat-form-field>
                  <div
                    class="row"
                    *ngIf="
                      formAccountName.invalid &&
                      (formAccountName.dirty || formAccountName.touched)
                    "
                  >
                    <div class="col">
                      <mat-error *ngIf="formAccountName.hasError('required')">
                        <small>Name is <strong>required</strong>.</small>
                      </mat-error>
                      <mat-error *ngIf="formAccountName.hasError('minlength')">
                        <small
                          >Name must be at least
                          <strong> 5 characters </strong> long.</small
                        >
                      </mat-error>
                      <mat-error *ngIf="formAccountName.hasError('maxlength')">
                        <small
                          >Name only can have
                          <strong> 15 characters </strong> max.</small
                        >
                      </mat-error>
                      <mat-error *ngIf="formAccountName.hasError('pattern')">
                        <small
                          >Name should only contain letters and numbers.</small
                        >
                      </mat-error>
                    </div>
                  </div>
                </div>
                <div class="col-auto mb-3 mt-1">
                  <button
                    [disabled]="
                      !formAccountName.valid ||
                      formAccountName.value.toLowerCase() == validAccountName.toLowerCase()
                    "
                    mat-stroked-button
                    (click)="createUpdateUser()"
                  >
                    Update
                  </button>
                </div>
              </div>
              <div class="row">
                <div *ngIf="loadingUpdateUser; else elseBlockSave">
                  <app-loading [message]="'Updating user'"></app-loading>
                </div>
                <ng-template #elseBlockSave>
                  <div *ngIf="!successLoadUpdateUser">
                    <p>
                      <strong>{{ errorMessage }}</strong>
                    </p>
                  </div>
                  <app-share-link
                    *ngIf="validAccountName"
                    [url]="getUrlLink()"
                  ></app-share-link>
                </ng-template>
              </div>
            </ng-template>
          </ng-template>
        </mat-card-content>
      </div>
    </div>
  </div>
</mat-card>
