<mat-card>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="standard" class="field-full-width">
        <mat-label>Link name</mat-label>
        <input
          matInput
          maxlength="55"
          class="mx-auto"
          [(ngModel)]="socialLink.name"
          name="name"
          placeholder="name"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="standard" class="field-full-width">
        <mat-label>URL Link</mat-label>
        <input
          matInput
          class="mx-auto"
          [(ngModel)]="socialLink.url"
          name="URL"
          placeholder="URL"
        />
      </mat-form-field>
    </div>
  </div>
  
  <div class="row justify-content-between" *ngIf="socialLink.name">
    <div class="col text-center">
      <div>
        <app-link-button [link]="socialLink"></app-link-button>
      </div>
    </div>
    <div class="col">
      <div class="row justify-content-between">
        <div class="col">
          <div class="d-flex justify-content-end">
            <input
              type="color"
              [(ngModel)]="socialLink.background_color"
              name="background"
              id="background"
            />
          </div>
        </div>
        <div class="col">Background</div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col">
          <div class="d-flex justify-content-end">
            <input
              type="color"
              [(ngModel)]="socialLink.font_color"
              name=""
              id="font"
            />
          </div>
        </div>
        <div class="col">Font</div>
      </div>
    </div>
  </div>
</mat-card>
